html{
    background: #0052D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container{
    align-content: center;
    align-items: center;
    text-align: center;
}

.img1{
    max-width: 1000px;
    max-height: 1000px;
    border-radius: 15px;
    -moz-box-shadow: 0px 10px 17px rgba(36, 36, 36, 0.767);
    -webkit-box-shadow: 0px 10px 17px rgba(36, 36, 36, 0.767);
    box-shadow: 0px 10px 17px rgba(36, 36, 36, 0.767);
}

h1 {
    margin: 1rem auto;
    animation: neon 1s ease infinite;
    font-size: 100px
}
@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
        color: #f5efcb;
    }
    50% {
        text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
        color: #eda0d3;
    }
}

